﻿
@model Frontend.Models.ProfileElectiveListModel

<table class="table">
    <thead>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Acronyme
        </th>
        <th>
            Description
        </th>
        <th>
            Enseignant
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.electiveList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acronym)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.Teacher.ToString()
            </td>
            <td>
                <div>
                    @Html.ActionLink("Détails", "Details", "Elective", new {id = item.Id})
                </div>
                @if (User.IsInRole("Admin") && Model.isPending)
                {
                    @Html.ActionLink("Approuver", "Approve", "Student", new {id = Model.studentId, electiveId = item.Id})

                }
            </td>
        </tr>
    }
    </tbody>
</table>