﻿@model Frontend.Models.CreateUserModel

@{
    ViewData["Title"] = "Creer utilisateur";
}

    <h1>Créer un utilisateur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="RegisterModel.Firstname" class="control-label">Prénom</label>
                <input asp-for="RegisterModel.Firstname" class="form-control" />
                <span asp-validation-for="RegisterModel.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterModel.Lastname" class="control-label">Nom</label>
                <input asp-for="RegisterModel.Lastname" class="form-control" />
                <span asp-validation-for="RegisterModel.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterModel.Email" class="control-label"></label>
                <input asp-for="RegisterModel.Email" class="form-control" />
                <span asp-validation-for="RegisterModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mot de passe</label>
                <input type="password" asp-for="RegisterModel.Password" class="form-control" />
                <span asp-validation-for="RegisterModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterModel.UserId" class="control-label">UID</label>
                <input asp-for="RegisterModel.UserId" class="form-control" />
                <span asp-validation-for="RegisterModel.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterModel.GroupId" class="control-label">Groupe</label>
                <select asp-for="RegisterModel.GroupId" asp-items="Model.Groups" class="form-control"></select>
                <span asp-validation-for="RegisterModel.GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterModel.Type" class="control-label">Type de compte</label>
                <select asp-for="RegisterModel.Type" class="form-control">
                    <option value="Admin">Administrateur</option>
                    <option value="Teacher">Enseignant</option>
                    <option value="Student">Etudiant</option>
                </select>
                <span asp-validation-for="RegisterModel.GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}