﻿@using Service.Models
@model UserModels

@{
    ViewData["Title"] = "Utilisateurs";
}

<div class="text-center">
    <h1 class="display-4">Utilisateurs</h1>
</div>


<p>
    <a asp-action="Create">Créer un nouvel utilisateur</a>
</p>

<br />
<h4>Admins</h4>
@await Html.PartialAsync("_UserTable", Model.Admins.Select(a => (UserDto) a))
<br />
<h4>Professeurs</h4>
@await Html.PartialAsync("_UserTable", Model.Teachers.Select(t => (UserDto) t))
<br />
<h4>Eleves</h4>
@await Html.PartialAsync("_UserTable", Model.Students.Select(s => (UserDto) s))