﻿@model Frontend.Models.LoginViewModel

@{
    ViewBag.Title = "Se connecter";
}

<h2>Login</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        
        <div class="control-label col-md-2">
            Mot de passe
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new {@class="form-control",  @type = "password"}})
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Connexion" class="btn btn-primary" />
        </div>
    </div>
</div>
}
