﻿@model UserProfileModel

@{
    ViewData["Title"] = "Utilisateur";
}



<div class="text-center">
    <h1 class="display-4">Utilisateur</h1>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            Prénom
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>
        <dt>
            Nom
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Lastname)
        </dd>
        @if (Model.Role.Equals("Student"))
        {
            <dt>
                Groupe
            </dt>
            <dd>
                @Model.Group.Name
            </dd>
        }
    </dl>
</div>


@if (Model.Role.Equals("Student"))
{
    <h4>Electifs confirmés</h4>
    @await Html.PartialAsync("_ElectiveList", new ProfileElectiveListModel()
    {
        electiveList = Model.Electives,
        isPending = false,
        studentId = Model.User.Id
    })

    <h4>Electifs en attente</h4>
    @await Html.PartialAsync("_ElectiveList", new ProfileElectiveListModel()
    {
        electiveList = Model.PendingElectives,
        isPending = true,
        studentId = Model.User.Id
    })
}
@if (Model.Role.Equals("Teacher"))
{
    <h4>Electifs</h4>
    @await Html.PartialAsync("_ElectiveList", new ProfileElectiveListModel()
    {
        electiveList = Model.Electives,
        isPending = false,
    })
}