﻿@model Service.Models.GroupDto

@{
    ViewData["Title"] = "Détails groupe";
}

<div class="text-center">
    <h1 class="display-4">Détails du groupe</h1>
    <dl class="dl-horizontal">
        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @Html.ActionLink("Editer", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Retour à la lite</a>
</div>
