﻿@model IEnumerable<Service.Models.GroupDto>

@{
    ViewData["Title"] = "Groupes";
}

<div class="text-center">
    <h1 class="display-4">Groupes</h1>
</div>


<a asp-action="Create">Créer un nouveau groupe</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Editer", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Détails", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
        }
    </tbody>
</table>
