﻿@model Frontend.Models.AddGroupElectiveViewModel
@{
    ViewData["Title"] = "AddGroup";
}

<h1>Ajouter un groupe à @Model.Elective.Name</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddGroup">
            <input asp-for="ElectiveId" type="hidden" value="@Model.Elective.Id"/>
            <div>
                <label class="control-label">Nom du groupe</label>
                <select asp-for="SelectedGroupId" asp-items="Model.Groups"></select>
                <span asp-validation-for="SelectedGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>