﻿@model IEnumerable<Service.Models.ElectiveDto>

@{
    ViewData["Title"] = "Electif";
}

<div class="text-center">
    <h1 class="display-4">Electifs disponibles</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Acronyme
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acronym)
            </td>
            <td>
                @Html.ActionLink("S'inscrire", "Subscribe", new { id = item.Id }) |
                @Html.ActionLink("Détails", "Details", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Index">Liste complète</a>