﻿@model CreateElectiveModel

@{
    ViewData["Title"] = "Creer électif";
}

<h1>Créer un électif</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Elective.Name" class="control-label">Nom</label>
                <input asp-for="Elective.Name" class="form-control" />
                <span asp-validation-for="Elective.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elective.Acronym" class="control-label">Acronyme</label>
                <input asp-for="Elective.Acronym" class="form-control" />
                <span asp-validation-for="Elective.Acronym" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Elective.Description" class="control-label"></label>
                <input asp-for="Elective.Description" class="form-control" />
                <span asp-validation-for="Elective.Description" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div>
                    <label class="control-label">Enseignant</label>
                    <select asp-for="SelectedTeacherId" asp-items="Model.Teachers" class="form-control"></select>
                    <span asp-validation-for="SelectedTeacherId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input asp-for="SelectedTeacherId" type="hidden" value="@User.Claims.FirstOrDefault(c => c.Type.Equals("Id"))?.Value" />
            }
            <div>
                <label class="control-label">Groupe</label>
                <select asp-for="SelectedGroupId" asp-items="Model.Groups"></select>
                <span asp-validation-for="SelectedGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
