﻿@model Service.Models.ElectiveDto

@{
    ViewData["Title"] = "Détails";
}


<div class="text-center">
    <h1 class="display-4">Détails de l'électif</h1>
    <dl class="row">
        <dt class="col-sm-2">
            Nom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Acronyme
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acronym)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Enseignant
        </dt>
        <dd class="col-sm-10">
            @Model.Teacher.ToString()
        </dd>

        <dt class="col-sm-2">
            Groupes
        </dt>
        <dd class="col-sm-10">
            @string.Join(" | ", Model.Groups?.Select(g => g.Name) ?? new List<string>())
        </dd>
    </dl>
</div>

<a asp-action="Index">Retour à la liste</a>
@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <form asp-action="Download" asp-route-electiveId=@Model.Id>
        <input type="submit" value="Télecharger la liste des étudiants" class="btn btn-primary"/>
    </form>
}