﻿@model IEnumerable<Service.Models.ElectiveDto>

@{
    ViewData["Title"] = "Créer Electif";
}

<div class="text-center">
    <h1 class="display-4">Electif</h1>
</div>

@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <a asp-action="Create">Créer un nouvel électif</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Acronyme
            </th>
            <th>
                Description
            </th>
            <th>
                Enseignant
            </th>

            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acronym)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @item.Teacher.ToString()
        </td>
        @if (User.IsInRole("Admin"))
        {
        <td>
            @Html.ActionLink("Editer", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Détails", "Details", new { id = item.Id }) |
            @Html.ActionLink("Ajouter un groupe", "AddGroup", new {electiveId = item.Id}) |
            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
        </td>
        }
            
        </tr>
    }
    </tbody>
</table>